{% load static %}
<header>
    <nav class="navbar navbar-expand-md fixed-top border-0 py-3 animate__animated animate__delay-1s animate__fadeIn">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSuppportContent">
            <i class="bi bi-list icon text-primary"></i>
        </button>

        <div id="navbarSuppportContent" class="collapse navbar-collapse justify-content-between">
            <div class="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#about" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="#proj" class="nav-link">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tech" class="nav-link">Tecnologias</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://docs.google.com/document/d/16s1U48NSS8QRpTZLDH3vFGRoE13h1MPelRXOxxRjzN0/edit?usp=sharing"
                            class="nav-link" target="_blank">
                            Currículo
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="text-success mr-4 icon rm-text-decoration"
                            href="https://www.linkedin.com/in/iuryhirabara/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-linkedin icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="text-warning mr-4 icon rm-text-decoration" href="https://github.com/IuryHirabara"
                            target="_blank">
                            <i class="bi bi-github icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="text-primary icon rm-text-decoration"
                            href="https://api.whatsapp.com/send/?phone=5541992543013&text=Ol%C3%A1+tudo+bem%3F+Vi+sua+p%C3%A1gina+de+portf%C3%B3lio"
                            target="_blank">
                            <i class="bi bi-whatsapp icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>